---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<Weather Key>&exclude=minutely&lat=27.7676008&lon=-82.64029149999999&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":27.77,"lon":-82.64,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1591780685,"sunrise":1591785253,"sunset":1591835175,"temp":77.77,"feels_like":84.24,"pressure":1015,"humidity":88,"dew_point":73.94,"uvi":11.83,"clouds":1,"visibility":16093,"wind_speed":5.82,"wind_deg":100,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1591779600,"temp":77.77,"feels_like":84.45,"pressure":1015,"humidity":88,"dew_point":73.94,"clouds":1,"wind_speed":5.44,"wind_deg":101,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},{"dt":1591783200,"temp":79.09,"feels_like":85.24,"pressure":1015,"humidity":82,"dew_point":73.11,"clouds":5,"wind_speed":5.55,"wind_deg":113,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},{"dt":1591786800,"temp":79.88,"feels_like":85.68,"pressure":1015,"humidity":79,"dew_point":72.79,"clouds":6,"wind_speed":5.84,"wind_deg":110,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},{"dt":1591790400,"temp":80.69,"feels_like":86.23,"pressure":1017,"humidity":73,"dew_point":71.22,"clouds":7,"wind_speed":4.81,"wind_deg":90,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.23}},{"dt":1591794000,"temp":81.91,"feels_like":86.97,"pressure":1017,"humidity":69,"dew_point":70.74,"clouds":0,"wind_speed":5.21,"wind_deg":86,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},{"dt":1591797600,"temp":83.12,"feels_like":87.98,"pressure":1017,"humidity":65,"dew_point":70.21,"clouds":0,"wind_speed":5.03,"wind_deg":97,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},{"dt":1591801200,"temp":84.34,"feel[...]
