---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=photos&input=Denver,CO&inputtype=textquery&key=GoogleGeo
      Key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "photos" : [
                    {
                       "height" : 960,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/109265035584393045274\"\u003eDave Nitkiewicz\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAANQ9bDCdAgl7jV7mHwsEseTgYs8--oNmI_eWje2l6EVITBAkkYZUBAvURJ8sOxMAvLkTmr-UkN1LBn6ymrSTBgnCG2L9ljWREPRmY1go10ZcH2l0uWGRmvSytvxNdpyClEhDBaIue5_ANmBnHlTGgfL_vGhRmN7UJC0Q5tOzQXTTbTDQxn45S0w",
                       "width" : 849
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 10 Jun 2020 09:25:01 GMT
recorded_with: VCR 6.0.0
